aniso8601==9.0.1
appdirs==1.4.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
dateutils==0.6.12
distlib==0.3.1
fake-useragent==0.1.11
feedparser==6.0.2
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
gunicorn==20.1.0
html-table-parser-python3==0.2.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
multitasking==0.0.9
nsepython==0.0.94
nsetools==1.0.11
numpy==1.20.2
pandas==1.2.4
parse==1.19.0
pyee==8.1.0
pyppeteer==0.2.5
pyquery==1.4.3
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
requests-html==0.10.0
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.12
tqdm==4.60.0
urllib3==1.26.4
virtualenv==20.4.4
w3lib==1.22.0
websockets==8.1
Werkzeug==1.0.1
yahoo-fin==0.8.8
yfinance==0.1.59
